@import "tailwindcss";

/**
 * Reset básico do body.
 * background: cor principal do site.
 * color: cor padrão do texto.
 * font-family: pilha de fontes modernas.
 */
body {
  background: #ece8b7;
  color: #111a68;
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * Scroll suave para links internos da navbar.
 */
html {
  scroll-behavior: smooth;
}

/**
 * Faz imagens se comportarem melhor dentro dos blocos.
 */
img {
  display: block;
}